body
{
	margin: 0;
	padding: 0;
	color: #FFF;
	font: normal 10pt Arial,Helvetica,sans-serif;
        background: #0d0d0d url(../img/fondoMil2.jpg) repeat;
}

#page
{
	margin-top: -10px;
	padding-top: 10px;
	margin-bottom: 5px;
        width: 1030px;
        background: #062894;
	background: -moz-linear-gradient(top, #062894 10%, #ffffff 50%, #062894 90%) #062894 no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#062894), color-stop(50%,#ffffff), color-stop(90%,#062894)) #062894 no-repeat;
	background: -webkit-linear-gradient(top, #062894 10%,#ffffff 50%,#062894 90%) #062894 no-repeat;
	background: -o-linear-gradient(top, #062894 10%,#ffffff 50%,#062894 90%) #062894 no-repeat;
	background: -ms-linear-gradient(top, #062894 10%,#ffffff 50%,#062894 90%) #062894 no-repeat;
	background: linear-gradient(top, #062894 10%,#ffffff 50%,#062894 90%) #062894 no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#062894', endColorstr='#062894',GradientType=0 );
}
#page2
{
	margin-top: -10px;
	padding-top: 10px;
	margin-bottom: 5px;
        width: 1030px;
        background: #E6EFC2;
}
#header
{
	margin: 0;
	padding: 0;
}
#header2
{
	margin: 30px;
	padding: 20px;
        background: #7A6200;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px;
	height: 100%;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	color: #c0f1f7;
	text-shadow: 1px 1px 1px black;	
}
#footer2
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	color: #000;
	text-shadow: 1px 1px 1px black;	
}

#logo
{
	padding: 40px 20px;
	font-size: 300%;
         text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #FFFF00,
                   0 0 70px #FFFF00,
                   0 0 80px #FFFF00,
                   0 0 100px #FFFF00,
                   0 0 150px #FFFF00;
}
#escudo
{
	float: right;
        margin: 20px;
}
#reporte
{
    
    margin-left: 150px;
    font-size: 150%;
}

#mainmenu
{
	//margin-bottom: 10px;
        display:block;
	width:100%;
	margin-bottom: 20px;
	text-align:left;
        padding: 20px;
        font-size: 20px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin-bottom: 10px;
        font-weight:normal;
	line-height:normal;
        padding:6px 20px 5px 20px;
	margin-bottom: 10px;
}

#mainmenu ul li
{
	display: block;
	margin: 3px;
}

#mainmenu ul li a
{
	color:#FFF;
	background-color:#826800;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #FFF;
	background-color:#FFD324;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #180567;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.breadcrumbs a
{
	color: #FFF;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	background-color:#180567 ;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #FFF;
}

.portlet-content
{
	margin: 10px;
}


.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;	
	margin: 5px 0;
	padding: 0 !important;
}

.operations li a
{
	display: block;
	background-color: #826800;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
}

.operations li a:visited
{
	color: #FFF;
}

.operations li a:hover
{
	background-color: #FFD324;
        color:#1F0F00;
}

#page #main-content
{
	margin: 20px;
	background: #0d0d0d url(../img/fondoMil1.jpg) repeat;
        width: 990px;	
}
#page2 #main-content2
{
	margin: 20px;
        padding-right: 20px;
	color: #1F0F00;
        width: 970px;	
}

#page .container
{
	color: #180567;
	background-color: #c0f1f7;
	margin: 20px;
        width: 950px;
}
#page2 .container2
{
	color: #180567;
	color: #1F0F00;
	margin: 20px;
        width: 950px;
}

#page, #page .container, #page #main-content
{
	border: 1px solid #02134b;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#mainmenu ul li a, .portlet-decoration, .operations li a
{
	padding:11px 12px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
	color: white;
	text-align: center;
	
	text-shadow: rgba(0,0,0,0.5) 1px 0px 0px;
}

/* Uncomment for nice inset shadow effect */
/*

#page, #page .container, #page #main-content
{
    -moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;	
}
*/



#page, #page .container, #page #main-content
{
    -moz-box-shadow:0 0 3px #000000;
   -webkit-box-shadow:0 0 3px #000000;
   box-shadow:0 0 3px #000000;	
}

/////////////
/* ----------------------------------------------TopBar-------------------------------------*/

#topbar ul{
	display:block;
	float:left;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	}

#topbar ul, #topbar ul li{
	margin:10;
	padding:5;
	list-style:none;
	}

#topbar ul#topnav{
	margin:12px 0 0 15px;
	}

#topbar ul li{
	float:left;
	margin-right:5px;
	}

#topbar ul li li{
	margin-left:0;
	}

#topbar ul li a:link, #topbar ul li a:visited, #topbar ul li a:hover{
	display:block;
	margin:10;
	padding:10;
	color:#FFFFFF;
	background-color:#0c10ba;   //color del menu
	}

#topbar ul ul li a:link, #topbar ul ul li a:visited{
	border:none;
	}

#topbar ul li a:hover, #topbar ul li.active a{
	color:#1F0F00;
	background-color:#8df6f0;  //color del menu seleccionado
	}
	
#topbar ul li li a:link, #topbar ul li li a:visited{
	width:170px;
	float:none;
	margin:0;
	padding:10px 10px;
	font-size:14px;
        font-style: inherit;
	font-weight:normal;
	color:#FFFFFF;
	background-color:#180567;  
	}
	
#topbar ul li li a:hover{
	color:#FFD324;
	background-color:#514721;
	}

#topbar ul ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	}

#topbar ul ul a{width:140px;}

#topbar ul li:hover ul{left:auto;}

#topbar ul li:hover{position:static;}

#topbar ul li.last{margin-right:0;}

/* ----------------------------------------------BOTON-------------------------------------*/
///
#div.row buttons{
    margin: 0;
    padding: 5px;
    color:#8a1f11;
    background-color: #80BD26;
    border: 1px solid #180567;
    cursor: pointer;
    min-width: 130px;
}

///////////////////GRIDVIEW//////////////////////
.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	border: 1px #180567 solid;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	border: 1px #180567 solid;
	padding: 0.3em;
}

.grid-view table.items th
{
	color: white;
	background: url("gvc.png") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even 
{
    background: #FDFCF8;
	
}

.grid-view table.items tr.odd  
{
	background: #DAC174;
}

.grid-view table.items tr.selected 
{
	background: #7A6200; 
}

.grid-view table.items tr:hover.selected
{
	background: #7A6200;
}

.grid-view table.items tbody tr:hover
{
	color:#1F0F00;
	background-color:#FFD324;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 60px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
}
///////////DETAIL VIEW/////////////
table.detail-view .null
{
	color: pink;
}

table.detail-view
{
	background: white;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}

table.detail-view th, table.detail-view td
{
	font-size: 0.9em;
	border: 1px white solid;
	padding: 0.3em 0.6em;
	vertical-align: top;
}

table.detail-view th
{
	text-align: right;
	width: 160px;
}

table.detail-view tr.odd
{
	background: #DAC174;
}

table.detail-view tr.even
{
	background: #FDFCF8;
	
}

table.detail-view tr.odd th
{
}

table.detail-view tr.even th
{
}
//////mi tabla pdf//
.miTabla{
    border: 1px solid #180567;
    color:#180567;
}
.mitabla tr {
    background:#E6EFC2;
    color:#180567;
}
.miTabla td {
    border: 1px solid #180567;
    color: #1F0F00;
    text-align: left;   
}
.miTabla tbody tr{
    color:#180567;
}
/////////////////MI DATAGRID////////////////////

.miGrid caption{
    font-size:20px;
    font-weight:normal;

    background-repeat:no-repeat;
    background-position: 130px center;
    padding-top: 20px;
    height:50px;}

.miGrid {
    border: 1px solid #180567;
}

.miGrid td {
    border-left: 1px solid #180567;
    border-top: 1px solid #180567;
    padding: 10px;
    text-align: left;   
}

.miGrid th, .miGrid th:hover {

    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 20px; 
    background-color:#062894 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#062894), to(#180567)) !important;
    background-image: -webkit-linear-gradient(top, #062894, #180567) !important;
    background-image:    -moz-linear-gradient(top, #062894, #180567) !important;
    background-image:     -ms-linear-gradient(top, #062894, #180567) !important;
    background-image:      -o-linear-gradient(top, #062894, #180567) !important;
    background-image:         linear-gradient(top, #062894, #180567) !important;
    color:#fff !important;
    font-weight:normal;
}

.miGrid tbody tr:nth-child(even) {
    background: #DAC174!important;
    color:#180567;
}

.miGrid tr:hover *{
    background: #FFD324;
    color:#000;
}

.miGrid tr {
    background:#FDFCF8;
    color:#180567;
}


////////////////STYLOS PARA FLASH//////////////////
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

